body {
  background-color: #fffeeb;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.mystyle {
  background-color: #f5f7e4;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
